@media (max-width: 576px) {
    .display-2 {
        font-size: 2.1875rem;
        font-weight: 600;
        line-height: 1.5;
    }

    .display-3 {
        font-size: 1.6275rem;
        font-weight: 600;
        line-height: 1.5;
    }

    .display-4 {
        font-size: 1.35rem;
        font-weight: 600;
    }

    .btn-md {
        padding: .375rem 1rem;
    }

    .card {
        margin-right: -15px;
        margin-left: -15px;
    }

    .card.shadow {
        border: none;
    }

    .card-header {
        width: 100%;
    }
}

.tab-pane > .fixture-team-card {
    border: none;
    border-radius: 0;
}

.tab-pane > .fixture-team-card > .card-header {
    display: none;
}

.text-break {
    white-space: normal !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}

.text-brown {
    color: #964b00 !important;
}

.text-autosize-container {
    white-space: nowrap !important;
}

.nav-wrapper .nav-item {
    padding-right: 1rem !important;
}

td.clickable, th.clickable {
    padding: 0 !important;
}

th.clickable > a {
    padding: .75rem 1.5rem;
    display: block;
    width: 100%;
    height: 100%;
}

td.clickable > a {
    padding: 1rem 1.5rem;
    display: block;
    width: 100%;
    height: 100%;
}

.pointer {
    cursor: pointer;
}


.player-photo {
    width: 6rem;
}

@media (min-width: 768px) {
    .player-photo {
        width: 8rem !important;
    }
}


/* Picks list */
.picks-list {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
}

.picks-list li {
    margin-bottom: .5rem;
}

.picks-list .picks-list-points {
    font-weight: 600;
    display: inline-block;
    min-width: 2rem;
    padding-right: 0.5rem;
}

@media (min-width: 768px) {
    .picks-list .picks-list-points {
        padding-right: 1rem !important;
    }
}

.picks-list.rtl li {
    text-align: right !important;
}

.picks-list.rtl .picks-list-points {
    padding-right: 0 !important;
    padding-left: 0.75rem !important;
    float: right !important;
}

@media (min-width: 768px) {
    .picks-list.rtl .picks-list-points {
        padding-left: 1.25rem !important;
    }
}


.fixture-title-centered {
    width: 100%;
}

.fixture-title-centered > .fixture-title-home, .fixture-title-centered > .fixture-title-away {
    display: inline-block !important;
    width: 40%;
}

.fixture-title-centered > .fixture-title-home {
    padding-right: 0.25rem;
    text-align: right;
}

.fixture-title-centered > .fixture-title-away {
    padding-left: 0.25rem;
    text-align: left;
}

.fixture-title-centered > .fixture-title-score {
    display: inline-block !important;
    min-width: 2rem;
}
