@media (max-width: 576px) {
    .display-3 {
        font-size: 1.6275rem;
        font-weight: 600;
        line-height: 1.5;
    }

    .card {
        margin-right: -15px;
        margin-left: -15px;
    }

    .card-header {
        width: 100%;
    }
}

.tab-pane > .fixture-team-card {
    border: none;
    border-radius: 0;
}

.tab-pane > .fixture-team-card > .card-header {
    display: none;
}
